@use '../base/variables' as v;


.background-login {
    height: 700px;
    background-image: url(../../assets/img/Background.png); //NO CAMBIAR RUTA
    background-repeat: no-repeat;
    background-size: cover;
}
