// Colores
$colorPrincipal :  rgb(255, 185, 185);
$negro :  rgb(0, 0, 0);
$blanco :  rgb(255, 255, 255);
$colorPrincipal :  rgb(255, 185, 185);


// Fuente
$fuentePrincipal: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;